# PostgreSQL Database Configuration
POSTGRES_USER=portfolio
POSTGRES_PASSWORD=portfolio
POSTGRES_DB=go-portfolio
POSTGRES_PORT=5432

# Database Connection String (DSN)
# Format: postgres://user:password@host:port/dbname?sslmode=disable
DATABASE_DSN=postgres://portfolio:portfolio@localhost:5432/go-portfolio?sslmode=disable
